<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Karte">
    <title>Tennis club website</title>
    <!-- For navbar.html -->
    <script src="resources/js/ddmenu.js"></script>
    <!-- Email icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- Social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Less CSS -->
    <link rel="stylesheet/less" type="text/css" href="resources/css/frontpage.less" />
    <link rel="stylesheet/less" type="text/css" href="resources/css/calendar.less" />
    <link rel="stylesheet/less" type="text/css" href="resources/css/navbar.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>

    <!-- Vue.js production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<header>
    <!-- Navigation -->
    <a id="ddmenuLink" href="navbar.html"></a>
</header>
<!-- Begin page content -->
<main>
    <div class="container">
        <div class="jumbotron text-center">
            <div class="booking-button">
                <a href="courts.html" class="btn btn-primary">Broneeri väljak</a>
            </div>
            <img src="resources/images/calendar.jpg" height="400" width="700" alt="Calendar">
        </div>
        <!-- Vue.js -->
        <template>
            <date-pick v-model="date">{}</date-pick>
        </template>
        <!--<script src="resources/js/calendar.js" type="module"></script> oige, kuid on vaja nodes jooksutada-->
        <script>
            import DatePick from 'vue-date-pick';
            import 'vendors/vue-date-pick/dist/vueDatePick.css';

            export default {
                components: {DatePick},
                data: () => ({
                    date: '2019-01-01'
                })
            };
        </script>

        <div id="app">
            <div v-for="n in names">
                <blog-post v-bind:id="n.id" v-bind:name="n.name"></blog-post>
            </div>
        </div>
        <blog-post id="1" name="K"></blog-post>

        <script>
            Vue.component('blog-post', {
                props: {
                    name: String,
                    id: {
                        type: Number,
                        required: false
                    },
                    meta: Object
                },
                computed: {
                    titleUpper: function() {
                        return this.$props.name.toUpperCase();
                    }
                },
                template: '<h1>ID: {{ id }} {{ titleUpper }}</h1>'
            });

            new Vue({
                el: '#app',
                data: {
                    names: [
                        { id: 1, name: 'Mari' },
                        { id: 2, name: 'Mati' },
                        { id: 3, name: 'Kati' }
                    ]
                }
            })
        </script>


        <div id="app2">
            <h2> Tere {{ name }}</h2>
            <p><strong>Tekst:</strong>{{ name }}</p>
            <p><label>
                <input type="text" v-model="name">
            </label></p>
        </div>

        <div id="app3">
            {{ message }}
        </div>
        <script src="resources/js/calendar_message.js" type="module"></script>

        <script>
            let app = new Vue({
                el: '#transfer-0-app',
                mounted: {
                    this: loadData,
                },
                methods: {
                    loadData() {
                        fetch('/api/transfers.json').then(response => {
                            response.json()
                        })
                            .then(json => {
                                json.forEach((item) => {
                                    return item.name
                                })
                            })
                    }
                }
            })
        </script>

    </div>
</main>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <div class="footer-text">
            <ul class="list-unstyled text-small">
                <li><p>&copy; OÜ Tennisekeskus 2019</p></li>
                <li><p>Telefon: 612 3456</p></li>
                <li><a class="text-muted">info@tennis.ee</a>
                    <a href="#">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
